.profile__avatar-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: transparent;
    /*margin-right: 26px;*/
    border-radius: 100%;
    border: none;
    transition: background-color 0.3s linear;
}

.profile__avatar-button:hover {
    background: url(../../../images/avatar_button.svg);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    cursor: pointer;
}