.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  max-width: 294px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 900px) {
  .profile__name {
    max-width: 189px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
