.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, max-content));
  grid-template-rows: repeat(2, minmax(auto, max-content));
  flex-wrap: wrap;
  padding-left: 30px;
}

@media (max-width: 900px) {
  .profile__info {
    padding-top: 26px;
    padding-bottom: 36px;
  }
}
