.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background: url(../../../images/Close.svg);
  border: none;
  background-size: cover;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: opacity .5s linear;
}

  .popup__close:hover {
    opacity: .6;
  }

@media (max-width: 600px) {
  .popup__close {
    transform: scale(.6);
    top: -36px;
    right: -7px;
  }
}
