.elements__item-like {
  width: 22px;
  height: 19px;
  background-image: url("../../../images/like_dis.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  margin-top: 0;
  margin-right: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

  .elements__item-like:hover {
    opacity: 0.5;
  }
